*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(14, 2, 48);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.container{
    /* background-color: rgba(185, 111, 26, 0.133); */
    height: 500px;
    width: 700px;
    border-radius: 12px;
    padding: 15px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parte-1{
    background-color: rgb(94, 10, 24);
    padding: 3rem;
    height: 260px;
    width: 600px;
    margin: auto;
    border-radius: 15px;
    h4{
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 12%;
        margin-top: 4%;
        border-radius: 14px;

    }
}

button{
    background-color: black;
    padding: 10px;
    border-radius: 12px;
    color: #fff;
    font-size: 1.4rem;
    border: none;
    outline: none;
    margin-left: 42%;
    border-radius: 12px;
    width: 120px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(13, 13, 87);
    font-size: .8rem;
}

.parte-3, .parte-2{ display: none;
}

.parte-2{
    background-color: rgba(3, 49, 10, 0.699);
    padding: 2rem;
    height: 350px;
    width: 620px;
    margin: auto;
    border-radius: 15px;
    input{
        background-color: rgb(84, 71, 97);
        padding: 4px;
        border: none;
        outline: none;
        border-radius: 12px;
        color: #fff;
        font-size: 1rem;
    }

    h4{
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 2%;
        margin-top: 2%;
       

    }
    hr{
        margin-bottom: 2%;
        margin-top: 10%;
        color: black;
    }
}

.parte-3{
    background-color: rgba(25, 31, 83, 0.699);
    padding: 2rem;
    height: 280px;
    width: 620px;
    margin: auto;
    border-radius: 15px;
    h2{
        text-align: center;
        margin-bottom: 3%;

    }
    #resp{
        text-align: center;
        margin-bottom: 2%;
    }
}

h3{
    text-align: center;
    font-size: 2rem;

}

#btn{
    background-color: #cc0ccc;
    border: none;
    outline: none;
    margin-left: 20%;
    margin-top: 2%;
}

#btn-voltar{
    position: absolute;  
    /* bottom: 100%; */
    right: 3%;
  
  
}

/* button{
    background-image: linear-gradient(to top, rgba(123,12, 45), rgba(12, 155,0.2));
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover{
    background-color: #000fff;
    transition: all .5s ease-in-out;
}
    */